.login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBE7B2;
    height: 100vh;
    padding: 20px;
  }
  
  h1 {
    color: #6b4f27;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #8B4513;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .google-button {
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #6b4f27;
    cursor: pointer;
    margin-top: 10px;
  }
  
 